<h1>All Articles will be here</h1>
<br><br>
<%= link_to "New Article", new_article_path() %>

<br><br>

<div class="apple_pagination">
  <%= will_paginate @all_articles, :container => false %>
</div>

<%= render "article" %>

