<h1>Showing Article details</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p><strong>Count: </strong><%= @article.count %></p>
<p><strong>Is Active: </strong><%= @article.isActive %></p>