/* Full-width input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.8;
}

.container-div {
  padding: 16px;
  width: 50%;
  margin: auto;
}

.container {
  padding: 1rem;
  margin: 0 auto;
}
