<% flash.each do |name, msg| %>
  <div class="container-div">
    <div class="text-sky-800 text-center text-lg  <%= name == 'alert' ? ' bg-red-200' : ' bg-slate-200' %> w-full" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %> 
